<!DOCTYPE html>
<html>

<head>
    <title>View Files</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>View Files in S3</h1>
    <form action="{{ url_for('view_files') }}" method="post">
        <label for="selected_file">Select PDF File:</label>
        <select id="selected_file" name="selected_file">
            {% for file in pdf_files %}
            <option value="{{ file }}">{{ file }}</option>
            {% endfor %}
        </select><br><br>
        <input type="submit" value="View File">
    </form>
    {% if images %}
    <h2>PDF Preview</h2>
    {% for image_num in range(images|length) %}
    <img src="{{ url_for('display_image', image_num=image_num) }}" alt="PDF Page {{ image_num + 1 }}">
    {% endfor %}
    {% endif %}
</body>

</html>
